extends ../template

block variables
  - var title = 'Мои работы'

block content
  .preloader
    .loader
      p#loader__text
      svg.loader__svg(width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
          path.loader__line-1(fill="none" stroke="#ffffff" stroke-width="3.9003" stroke-miterlimit="10" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
        g
          path.loader__line-2(fill="none" stroke="#ffffff" stroke-width="3.9003" stroke-miterlimit="10" d="M0,61.684c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684")
        g
          path.loader__line-3(fill="none" stroke="#ffffff" stroke-width="3.9003" stroke-miterlimit="10" d="M0,85.362c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362")
  .wrapper
    section.header-section#scroll-element
      ul.socials-list
        li.socials-list__item
          a.socials-list__link(href="")
            svg.socials-list__icon
              use(xlink:href="assets/images/sprite.svg#vk")
        li.socials-list__item
          a.socials-list__link(href="")
            svg.socials-list__icon
              use(xlink:href="assets/images/sprite.svg#github")
        li.socials-list__item
          a.socials-list__link(href="")
            svg.socials-list__icon
              use(xlink:href="assets/images/sprite.svg#in")
      .first-screen__block
        .first-screen__photo-wrap(style="background-image: url(assets/images/intro/photo.jpg);")
          img.first-screen__photo(src="assets/images/intro/photo.jpg", alt="")
        .first-screen__headline Владимир Астахов
        .first-screen__text Статьи, которые я написал
      svg.menu-icon
        use(xlink:href="assets/images/sprite.svg#hamburger")
      svg.arrow-down
        use(xlink:href="assets/images/sprite.svg#portf_arrow_down")
      svg.triangle-element.triangle-element--right(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 900 180" preserveaspectratio="none")
        polygon.triangle-element__polygon(points="0,180 900,180 900,0 0,180")
      svg.triangle-element.triangle-element--left(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 900 180" preserveaspectratio="none")
        polygon.triangle-element__polygon(points="0,0 0,180 900,180 0,0")
    section.works
      .works__headline
        p.stick Мои работы
      .slider
        .slider__description-side
          ul.description-list
            li.description-list__item.active-slide
                .slider__headline Школа онлай-образования "LoftSchool"
                .slider__technologies HTML5, CSS3, javascript, php
                .slider__link-button
                  svg.slider__link-icon
                    use(xlink:href="assets/images/sprite.svg#link")
                  a.slider__link Посмотреть сайт
            li.description-list__item
              .slider__headline Агентсво интернет решений "ITLoft"
              .slider__technologies node
              .slider__link-button
                svg.slider__link-icon
                  use(xlink:href="assets/images/sprite.svg#link")
                a.slider__link(href="#") Посмотреть сайт
            li.description-list__item
              .slider__headline Портал обучающих уроков "LoftBlog"
              .slider__technologies Ruby on Rails, javascript, RESTful
              .slider__link-button
                svg.slider__link-icon
                  use(xlink:href="assets/images/sprite.svg#link")
                a.slider__link Посмотреть сайт
            li.description-list__item
              .slider__headline Сайт "Атма йога"
              .slider__technologies UX, design, seo
              .slider__link-button
                svg.slider__link-icon
                  use(xlink:href="assets/images/sprite.svg#link")
                a.slider__link Посмотреть сайт
        .slider__main-side
          .slider__general-part
            ul.slider-list
              li.slider-list__item.active-slide
                img.slider-list__img(src="assets/images/works/work-1.png")
              li.slider-list__item
                img.slider-list__img(src="assets/images/works/work-2.png")
              li.slider-list__item
                img.slider-list__img(src="assets/images/works/work-3.png")
              li.slider-list__item
                img.slider-list__img(src="assets/images/works/work-4.png")
          .slider__controlers-container
            .slider__slide-back-side
              ul.slide-back-list
                li.slide-back-list__item
                  img.slide-back-list__img(src="assets/images/works/work-1.png")
                li.slide-back-list__item
                  img.slide-back-list__img(src="assets/images/works/work-2.png")
                li.slide-back-list__item
                  img.slide-back-list__img(src="assets/images/works/work-3.png")
                li.slide-back-list__item.back-slide-active
                  img.slide-back-list__img(src="assets/images/works/work-4.png")
            .slider__slide-forward-side
             ul.slide-forward-list
                li.slide-forward-list__item
                  img.slide-forward-list__img(src="assets/images/works/work-1.png")
                li.slide-forward-list__item.forward-slide-active
                  img.slide-forward-list__img(src="assets/images/works/work-2.png")
                li.slide-forward-list__item
                  img.slide-forward-list__img(src="assets/images/works/work-3.png")
                li.slide-forward-list__item
                  img.slide-forward-list__img(src="assets/images/works/work-4.png")
    section.feed
      .feed__headline
        p.stick Что обо мне говорят
      .feed__comments-container
        ul.comments-list
          li.comments-list__item
            .comments-list__photo(style="background-image: url(assets/images/works/photo-1.jpg); background-position: center 125px;")
            .comments-list__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .comments-list__author Ковальчук Дмитрий
            .comments-list__proffesion — основатель Loftschool
          li.comments-list__item
            .comments-list__photo(style="background-image: url(assets/images/works/photo-2.jpg)")
            .comments-list__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .comments-list__author Сабанцев Владимир 
            .comments-list__proffesion — преподаватель
      .feed__form-wrapper
        form.form
          .form__container
            .form__headline 
              p.stick Связаться со мной
            .form__name-container
              input.form__name(type="text" placeholder="Имя" required)
            .form__mail-container
              input.form__mail(type="text" placeholder="Email" required)
            .form__message-container
              textarea.form__message(placeholder="Ваше сообщение" required)
            .form__buttons-container
              input.form__submit(type="submit" value="Отправить")
              .form__clear-button Очистить
      .footer
        .footer__main-side
          .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
          .footer__navigation
            ul.navigation
              li.navigation__item 
                a.navigation__link(href="my-works.html") Мои работы
              li.navigation__item 
                a.navigation__link(href="about.html") Обо мне
              li.navigation__item 
                a.navigation__link(href="blog.html") Блог
              li.navigation__item
                a.navigation__link(href="#") Авторизация
            ul.footer__socials-list
              li.footer__socials-list-item
                a.footer__socials-list-link(href="")
                  svg.footer__socials-list-icon
                    use(xlink:href="assets/images/sprite.svg#vk")
              li.footer__socials-list-item
                a.footer__socials-list-link(href="")
                  svg.footer__socials-list-icon
                    use(xlink:href="assets/images/sprite.svg#github")
              li.footer__socials-list-item
                a.footer__socials-list-link(href="")
                  svg.footer__socials-list-icon
                    use(xlink:href="assets/images/sprite.svg#in")
          .footer__quote 
            .footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
            .footer__quote-author  — Martin Golding
        .footer__copyright &#169; Владимир Астахов | создано с любовью в LoftSchool | 2016
    .menu-container
      ul.menu-container__list
        li.menu-container__list-item
          a.menu-container__link(href="my-works.html")
            p.stick Мои работы
        li.menu-container__list-item
          a.menu-container__link(href="blog.html")
            p.stick Блог
        li.menu-container__list-item
          a.menu-container__link(href="about.html")
            p.stick Обо мне
        li.menu-container__list-item
          a.menu-container__link(href="#")
            p.stick Авторизация
      .close-button