.header-section {
    width: 100vw;
    height: 50vh;
    background-image: url(../images/about/bg.jpg);
    background-size: cover;
    position: relative;
    .socials-list {
        position: absolute;
        top: 30px;
        left: 30px;
        margin: 0;
        .socials-list__icon {
            opacity: 1;
        }
    }
    .triangle-element {
        fill: #faf8f0;
        height: 10vh;
    }

    @include tablets {
        height: 100vh;
    }
}
.blog {
    min-height: 50vh;
    width: 100vw;
    padding-bottom: 200px;
    background-color: #faf8f0;
    display: flex;
    position: relative;
    @include laptop {
        padding-bottom: 350px;
    }
}

.blog__menu {
    width: 30%;
    padding: 85px 40px 0 80px;
    text-align: right;
    @include tablets {
        right: 100%;
        position: fixed;
        background-color: #6c9c5a;
        width: 80%;
        height: 100%;
        z-index: 20;
        top: 0;
        .blog__menu-circle {
            width: 40px;
            height: 40px;
            cursor: pointer;
            background-color: #6c9c5a;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 100%;
            transform: translate(-70%, -50%);
            -webkit-box-shadow: 4px 0px 4px 0px rgba(156,156,156,1);
            -moz-box-shadow: 4px 0px 4px 0px rgba(156,156,156,1);
            box-shadow: 4px 0px 4px 0px rgba(156,156,156,1);
            z-index: 0;
        }
        &:before {
            content: '';
            width: 40px;
            height: 70px;
            position: absolute;
            background-color: #6c9c5a;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            z-index: 16;
        }
        &.open-menu {
            -webkit-box-shadow: 4px 0px 4px 0px rgba(156,156,156,1);
            -moz-box-shadow: 4px 0px 4px 0px rgba(156,156,156,1);
            box-shadow: 4px 0px 4px 0px rgba(156,156,156,1);
        }
    }
}

.blog-menu-list {
    list-style: none;
    cursor: pointer;
    z-index: 20;
    @include tablets {
        left: auto;
        position: absolute;
        width: 80%;
        right: 10%;
    }
}

.blog-menu-list__item {
    color: #455a64;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    position: relative;
    &:first-child {
        margin: 0;
    }
    &:hover {
        font-weight: bold;
        opacity: 1;
    }
    @include tablets {
        color: #ffffff;
        opacity: 0.8;
    }
}

.blog-menu-list__item--active {
    color: #4e8839;
    font-weight: 700;
    &:after {
        content: '';
        width: 4px;
        height: 45px;
        background-color: #6c9c5a;
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -22.5px;
    }
    @include tablets {
        color: #ffffff;
        opacity: 1;
        &:after {
            content: none;
        }
    }
}

.blog__articles {
    width: 70%;
    padding: 70px;
    @include tablets {
        width: 100%;
        padding: 70px 25px;
    }
}

.articles-list {
    list-style: none;
}

.articles-list__item {
    margin-top: 130px;
    position: relative;
    &:first-child {
        margin: 0;
    }
    &:last-child:after {
        content: none;
    }
    &:after {
        content: '';
        width: 684px;
        height: 8px;
        background-color: #373e42;
        opacity: 0.07;
        position: absolute;
        bottom: -75px;
    }
}

.articles-list__headline {
    color: #455a64;
    font-family: "Sansus Webissimo";
    font-size: 35px;
    font-weight: 400;
}

.articles-list__date {
    opacity: 0.7;
    color: #4e8839;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.articles-list__article {
    color: #455a64;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}